.breadscrumbs {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  a {
    text-decoration: none;
    color: #000000;
  }
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-right: 20px;
    &::after {
      width: 11px;
      content: "";
      display: inline-block;
      margin-left: 20px;
      height: 12px;
      transform: rotate(45deg);
      background-color: #000000;
    }
    &:last-child {
      color: #aba9a7;
      &::after {
        display: none;
      }
    }
  }
}
