.input {
  border: 2px solid #000;
  background: transparent;
  padding: 10px 10px;
  height: 43px;
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
  &::placeholder {
    font-family: "PT Sans Narrow", sans-serif;
  }
  &:hover {
    border: 2px solid #663d15;
  }
  &:focus {
    border: 2px solid #663d15;
  }
}
