<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Барбершоп "Бородинский"</title>
  </head>
  <body>
    <header>
      <nav class="header_navigation">
        <a>
          <img alt="Логотип" src="img/logo.svg" />
        </a>
        <ul>
          <li><a class="navigation" href="#">Информация</a></li>
          <li><a class="navigation" href="#">Новости</a></li>
          <li><a class="navigation" href="#">Прайс-лист</a></li>
          <li><a class="navigation" href="#">Магазин</a></li>
          <li><a class="navigation" href="#">Контакты</a></li>
        </ul>
        <ul>
          <li>
            <img src="img/login.svg" /><button type="button">Вход</button>
          </li>
        </ul>
      </nav>
    </header>
    <script src="/src/js/main.js"></script>
  </body>
</html>
