
  <nav class="navigation">
    <div class="navigation-inner">
      <div class="site-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Информация</a>
          </li>
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Новости</a>
          </li>
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Прайс-лист</a>
          </li>
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Магазин</a>
          </li>
          <li class="navigation-list__item">
            <a href="#" class="navigation-list__link">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="user-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <button class="navigation-list__link">
              <img src="/img/icons/login.svg">
              Вход
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>