.navigation {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
.navigation-inner {
  max-width: 940px;
  min-height: 70px;
  margin: 0 auto;
  display: flex;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  &__link {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 70px;
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: #242424;
    }
    img {
      margin-right: 10px;
    }
  }
}

.user-navigation {
  margin-left: auto;
}
